body {
  padding-left: 10px;
  padding-right: 10px;
}

nav ul li a.current {
  text-decoration: underline;
}

button.delete {
  background-color: red;
  border-color: red;
  color: white;
}

button {
  margin-bottom: var(--pico-spacing);
}

/* Mobile Responsive Navigation */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
  }

  nav ul li {
    padding: 5px;
  }
}
